<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <main>
        <!-- Header -->
        <header>
            <div id="logo-text">
                <a href="/">
                    <img src="Images/logo.png" alt="" id="logo">
                    <h1 id="oname">RayFurPaws</h1>
                </a>
            </div>
            <div id="menu-donate">
                <a href="" id="donate">DONATE</a>
                <div class="menu-button">
                    &#9776;
                </div>
                <div class="menu">
                    <div class="menu-up">
                        <h1 id="menu-heading">RayFurPaws</h1>
                        <span id="close-button">&times;</span>
                    </div>
                    <div class="list">
                        <ul class="menuitem">
                            <li><a href="/">HOME</a></li>
                            <li class="menuItemList">
                                <div>
                                    ABOUT
                                    <span class="symbol">+</span>
                                </div>
                                <ul class="submenu">
                                    <li><a href="http://rayfurpaws.onrender.com/our-story">OUR STORY</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/vision">VISION</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/team">TEAM</a></li>
                                </ul>
                            </li>
                            <li class="menuItemList">
                                <div>ADOPT <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://rayfurpaws.onrender.com/available-animals">AVAILABLE ANIMALS</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/how-to-adopt">HOW TO ADOPT</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/success-stories">SUCCESS STORIES</a></li>
                                </ul>
                            </li>
                            <li><a href="http://rayfurpaws.onrender.com/volunteer-with-us">VOLUNTEER WITH US</a></li>
                            <li><a href="http://rayfurpaws.onrender.com/foster-a-paw">FOSTER A PAW</a></li>
                            <li><a href="http://rayfurpaws.onrender.com/events-and-campaigns">EVENTS & CAMPAIGNS</a></li>
                            <li class="menuItemList">
                                <div>RESOURCES <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://rayfurpaws.onrender.com/animal-care-tips">ANIMAL CARE TIPS</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/legal-rights">LEGAL RIGHTS</a></li>
                                    <li><a href="http://rayfurpaws.onrender.com/emergency-contacts">EMERGENCY CONTACTS</a></li>
                                </ul>
                            </li>
                            <li><a href="http://rayfurpaws.onrender.com/blog">BLOG</a></li>
                            <li><a href="http://rayfurpaws.onrender.com/contact-us">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
        <script src="/header.js"></script>
        <!-- Header over -->


        <section class="contactUs">
            <div class="contactUsContainer">
                <div id="containerH">
                    <h1>Get In Touch</h1>
                </div>
                <div>
                    <h2>Visit Our Shelter</h2>
                    <p>123 Pet Care Lane</p>
                    <p>Mumbai, Maharashtra 400001</p>
                    <p>India</p>
                </div>
                <div>
                    <h2>Contact Information</h2>
                    <p> <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp; contact@rayfurpaws.org</p>
                    <p> <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp; +91 98765 43210</p>
                    <p><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;&nbsp; Monday-Saturday: 10AM-6PM</p>
                </div>
                <div id="teamContacts">
                    <h2>Team Contacts</h2>
                    <div id="teamContactsAndVolunteer">
                        <div>

                            <h3>Adoptions</h3>
                            <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp; adopt@rayfurpaws.org</p>
                            <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp; +91 98765 43211 </p>
                        </div>
                        <div>
                            <h3>Volunteering</h3>
                            <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp; volunteer@rayfurpaws.org</p>
                            <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp; +91 98765 43212 </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Emergency Contacts</h2>
                    <p> <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;24/7 Rescue Hotline: +91 98765 43210</p>
                    <p> <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;After Hours Vet: +91 98765 43298</p>
                    
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="fcName">
                <img src="Images/logo.png" alt="" id="fLogo">
                <h1 id="fName">RayFurPaws</h1>
            </div>
            <div class="qlinkandTerm">
                <div class="fQuickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="https://rayfurpaws.onrender.com/our-story">ABOUT</a></li>
                        <li><a href="https://rayfurpaws.onrender.com/donate">DONATE</a></li>
                        <li><a href="https://rayfurpaws.onrender.com/foster-a-paw">FOSTER A PAW</a></li>
                        <li><a href="https://rayfurpaws.onrender.com/animal-care-tips">RESOURCES</a></li>
                        <li><a href="https://rayfurpaws.onrender.com/contact-us">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="fTerms">
                    <div>
                        <h2>Terms And Conditions</h2>
                        <ul>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Policy</a></li>
                        </ul>
                        <h2>Connect With Us</h2>
                    </div>
                    <div>

                        <a href="https://www.facebook.com/people/Rayfurpaws/61578852126702/?rdid=PYMW9vkkfwOe0Uot&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F175r8JiCLW%2F" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/rayfurpaws?igsh=cWg2YXlidDkwYnZp"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/rayfurpaws/"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://x.com/Rayfurpaws?t=Wh5r6XvX3IhZCKUtGn-aGg&s=09"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
        </footer>
    </main>
</body>

</html>