<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/our-story.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <main>
        <!-- Header -->
        <header>
            <div id="logo-text">
                <a href="/">
                    <img src="Images/logo.png" alt="" id="logo">
                    <h1 id="oname">RayFurPaws</h1>
                </a>
            </div>
            <div id="menu-donate">
                <a href="" id="donate">DONATE</a>
                <div class="menu-button">
                    &#9776;
                </div>
                <div class="menu">
                    <div class="menu-up">
                        <h1 id="menu-heading">RayFurPaws</h1>
                        <span id="close-button">&times;</span>
                    </div>
                    <div class="list">
                        <ul class="menuitem">
                            <li><a href="">HOME</a></li>
                            <li class="menuItemList">
                                <div>
                                    ABOUT
                                    <span class="symbol">+</span>
                                </div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/our-story">OUR STORY</a></li>
                                    <li><a href="">VISION</a></li>
                                    <li><a href="">TEAM</a></li>
                                </ul>
                            </li>
                            <li class="menuItemList">
                                <div>ADOPT <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="">AVAILABLE ANIMALS</a></li>
                                    <li><a href="">HOW TO ADOPT</a></li>
                                    <li><a href="">SUCCESS STORIES</a></li>
                                </ul>
                            </li>
                            <li><a href="#">VOLUNTEER WITH US</a></li>
                            <li><a href="#">FOSTER A PAW</a></li>
                            <li><a href="#">EVENTS & CAMPAIGNS</a></li>
                            <li class="menuItemList">
                                <div>RESOURCES <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="">ANIMAL CARE TIPS</a></li>
                                    <li><a href="">LEGAL RIGHTS</a></li>
                                    <li><a href="">EMERGENCY CONTACTS</a></li>
                                </ul>
                            </li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>

        <!-- Header over -->


        <!-- body-1 -->
        <section class="section1">
            <div class="containerOurStory">
                <div id="sectionOurStoryH">
                    <h1>Our Story</h1>
                </div>
                <img src="Images/puppyVolunteer.png" alt="" srcset="">
                <div id="foundersNote">
                    <h2>Founder's Note</h2>
                </div>
                <div id="Story">
                    <p>“I don’t know where to start... it all began with something I wish I never had to see.</p>
                    <p>
                        One evening, I was coming back from tuition when I saw three people beating a street
                        dog. I stood there completely helpless. I didn’t know what to do, how to react. And
                        the worst part? I didn’t do anything
                    </p>
                    <p>
                        A few days later, I saw the same dog dead at the exact same spot. Something inside
                        me changed that day. I couldn’t get that image out of my head. That feeling of guilt,
                        of helplessness - it just stayed.
                    </p>
                    <p>
                        I thought maybe I could express it through writing. But honestly, it didn’t feel enough.
                        That’s when I knew I didn’t just want to write - I wanted to do something. And that’s
                        where RayFurPaws was born.”
                    </p>
                </div>
                <div id="founderName">
                    <h2>-Nitish, Founder</h2>
                </div>
            </div>
        </section>




        <!-- FOOTER -->
        <footer class="footer">
            <div class="fcName">
                <img src="Images/logo.png" alt="" id="fLogo">
                <h1 id="fName">RayFurPaws</h1>
            </div>
            <div class="qlinkandTerm">
                <div class="fQuickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">DONATE</a></li>
                        <li><a href="">FOSTER A PAW</a></li>
                        <li><a href="">RESOURCES</a></li>
                        <li><a href="">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="fTerms">
                    <div>
                        <h2>Terms And Conditions</h2>
                        <ul>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Policy</a></li>
                        </ul>
                        <h2>Connect With Us</h2>
                    </div>
                    <div>

                        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
        </footer>
        <script src="/header.js"></script>
    </main>
</body>

</html>