<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/team.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <main>
        <!-- Header -->
        <header>
            <div id="logo-text">
                <a href="/">
                    <img src="Images/logo.png" alt="" id="logo">
                    <h1 id="oname">RayFurPaws</h1>
                </a>
            </div>
            <div id="menu-donate">
                <a href="" id="donate">DONATE</a>
                <div class="menu-button">
                    &#9776;
                </div>
                <div class="menu">
                    <div class="menu-up">
                        <h1 id="menu-heading">RayFurPaws</h1>
                        <span id="close-button">&times;</span>
                    </div>
                    <div class="list">
                        <ul class="menuitem">
                            <li><a href="/">HOME</a></li>
                            <li class="menuItemList">
                                <div>
                                    ABOUT
                                    <span class="symbol">+</span>
                                </div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/our-story">OUR STORY</a></li>
                                    <li><a href="http://localhost:5500/vision">VISION</a></li>
                                    <li><a href="http://localhost:5500/team">TEAM</a></li>
                                </ul>
                            </li>
                            <li class="menuItemList">
                                <div>ADOPT <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/available-animals">AVAILABLE ANIMALS</a></li>
                                    <li><a href="http://localhost:5500/how-to-adopt">HOW TO ADOPT</a></li>
                                    <li><a href="http://localhost:5500/success-stories">SUCCESS STORIES</a></li>
                                </ul>
                            </li>
                            <li><a href="http://localhost:5500/volunteer-with-us">VOLUNTEER WITH US</a></li>
                            <li><a href="http://localhost:5500/foster-a-paw">FOSTER A PAW</a></li>
                            <li><a href="http://localhost:5500/events-and-campaigns">EVENTS & CAMPAIGNS</a></li>
                            <li class="menuItemList">
                                <div>RESOURCES <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/animal-care-tips">ANIMAL CARE TIPS</a></li>
                                    <li><a href="http://localhost:5500/legal-rights">LEGAL RIGHTS</a></li>
                                    <li><a href="http://localhost:5500/emergency-contacts">EMERGENCY CONTACTS</a></li>
                                </ul>
                            </li>
                            <li><a href="http://localhost:5500/blog">BLOG</a></li>
                            <li><a href="http://localhost:5500/contact-us">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
        <script src="/header.js"></script>
        <!-- Header over -->




        <section class="team">
            <div class="teamContainer">
                <div id="teamContainerH">
                    <h1>Core Leadership</h1>
                </div>
                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>NITISH</h2>
                        <h3>Founder</h3>
                        <h4>Oversees Vision And Goals</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Kayal</h2>
                        <h3>CEO</h3>
                        <h4>Strategy And Growth</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Aashka</h2>
                        <h3>COO</h3>
                        <h4>Daily Operations</h4>
                    </div>
                </div>
            </div>



            <div class="teamContainer">
                <div id="teamContainerH">
                    <h1>Content</h1>
                </div>
                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Nazia</h2>
                        <h3>Content Head</h3>
                        <h4>Content Strategy</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Ankita</h2>
                        <h3>Content Writer</h3>
                        <h4>Articles And Blogs</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Tanishqa</h2>
                        <h3>Researcher</h3>
                        <h4>Data And Insights</h4>
                    </div>
                </div>

                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Kayal</h2>
                        <h3>Story Writer</h3>
                        <h4>Narratives</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Srushti</h2>
                        <h3>Lead Editor</h3>
                        <h4>Content Review</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Archita</h2>
                        <h3>Head Editor</h3>
                        <h4>Quality Standards</h4>
                    </div>
                </div>


                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Nazia</h2>
                        <h3>Head Designer</h3>
                        <h4>Visual Content</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Aashka</h2>
                        <h3>Stories Researcher</h3>
                        <h4>Campaign Support</h4>
                    </div>
                </div>



            </div>

            <div class="teamContainer">
                <div id="teamContainerH">
                    <h1>Social Media And Engagement</h1>
                </div>
                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Kasturi</h2>
                        <h3>Social Media Head</h3>
                        <h4>Strategy</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Ritika</h2>
                        <h3>Social Media Lead</h3>
                        <h4>Content</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Garima Tai</h2>
                        <h3>Engagement Specialist</h3>
                        <h4>Community Building</h4>
                    </div>
                </div>
            </div>

            <div class="teamContainer">
                <div id="teamContainerH">
                    <h1>Technology And Outreach</h1>
                </div>
                <div id="namePhotoWork">
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Tarun</h2>
                        <h3>Tech Head</h3>
                        <h4>Website And Platforms</h4>
                    </div>
                    <div id="member">
                        <img src="/Images/puppyVolunteer.png" alt="">
                        <h2>Tanvi</h2>
                        <h3>Volunteer Coordinator</h3>
                        <h4>Programs And Campaigns</h4>
                    </div>
                    
                </div>
            </div>


            <!-- FOOTER -->
        <footer class="footer">
            <div class="fcName">
                <img src="Images/logo.png" alt="" id="fLogo">
                <h1 id="fName">RayFurPaws</h1>
            </div>
            <div class="qlinkandTerm">
                <div class="fQuickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">DONATE</a></li>
                        <li><a href="">FOSTER A PAW</a></li>
                        <li><a href="">RESOURCES</a></li>
                        <li><a href="">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="fTerms">
                    <div>
                        <h2>Terms And Conditions</h2>
                        <ul>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Policy</a></li>
                        </ul>
                        <h2>Connect With Us</h2>
                    </div>
                    <div>

                        <a href="https://www.facebook.com/people/Rayfurpaws/61578852126702/?rdid=PYMW9vkkfwOe0Uot&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F175r8JiCLW%2F" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/rayfurpaws?igsh=cWg2YXlidDkwYnZp"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/rayfurpaws/"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://x.com/Rayfurpaws?t=Wh5r6XvX3IhZCKUtGn-aGg&s=09"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
        </footer>
        </section>
    </main>
</body>

</html>