<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/volunteer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <main>
        <!-- Header -->
        <header>
            <div id="logo-text">
                <a href="/">
                    <img src="Images/logo.png" alt="" id="logo">
                    <h1 id="oname">RayFurPaws</h1>
                </a>
            </div>
            <div id="menu-donate">
                <a href="" id="donate">DONATE</a>
                <div class="menu-button">
                    &#9776;
                </div>
                <div class="menu">
                    <div class="menu-up">
                        <h1 id="menu-heading">RayFurPaws</h1>
                        <span id="close-button">&times;</span>
                    </div>
                    <div class="list">
                        <ul class="menuitem">
                            <li><a href="/">HOME</a></li>
                            <li class="menuItemList">
                                <div>
                                    ABOUT
                                    <span class="symbol">+</span>
                                </div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/our-story">OUR STORY</a></li>
                                    <li><a href="http://localhost:5500/vision">VISION</a></li>
                                    <li><a href="http://localhost:5500/team">TEAM</a></li>
                                </ul>
                            </li>
                            <li class="menuItemList">
                                <div>ADOPT <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/available-animals">AVAILABLE ANIMALS</a></li>
                                    <li><a href="http://localhost:5500/how-to-adopt">HOW TO ADOPT</a></li>
                                    <li><a href="http://localhost:5500/success-stories">SUCCESS STORIES</a></li>
                                </ul>
                            </li>
                            <li><a href="http://localhost:5500/volunteer-with-us">VOLUNTEER WITH US</a></li>
                            <li><a href="http://localhost:5500/foster-a-paw">FOSTER A PAW</a></li>
                            <li><a href="http://localhost:5500/events-and-campaigns">EVENTS & CAMPAIGNS</a></li>
                            <li class="menuItemList">
                                <div>RESOURCES <span class="symbol">+</span></div>
                                <ul class="submenu">
                                    <li><a href="http://localhost:5500/animal-care-tips">ANIMAL CARE TIPS</a></li>
                                    <li><a href="http://localhost:5500/legal-rights">LEGAL RIGHTS</a></li>
                                    <li><a href="http://localhost:5500/emergency-contacts">EMERGENCY CONTACTS</a></li>
                                </ul>
                            </li>
                            <li><a href="http://localhost:5500/blog">BLOG</a></li>
                            <li><a href="http://localhost:5500/contact-us">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
        <script src="/header.js"></script>

        <!-- Header over -->

        <section class="volunteer">
            <div class="volunteerContainer">
                <div id="volunteerH">
                    <h1>Make A Difference</h1>
                </div>
                <div>
                    <h2>Contact Information</h2>
                    <p><i class="fa-solid fa-paw"></i>&nbsp;&nbsp;&nbsp; Gain hands-on experience with animals</p>
                    <p><i class="fa-solid fa-people-group"></i>&nbsp;&nbsp;&nbsp; Join a community of like-minded people
                    </p>
                    <p><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp; Learn animal care skills</p>
                    <p><i class="fa-solid fa-heart"></i>&nbsp;&nbsp;&nbsp; Make a real impact in animals lives</p>
                </div>
                <div>
                    <h2>Available Roles</h2>
                    <p><b>Animal Care</b>&nbsp;&nbsp;-&nbsp; Feeding, Grooming, and Exercising Animals</p>
                    <p><b>Adoption Support</b>&nbsp;&nbsp;-&nbsp; Helping Potential Adopters And Processing Application
                    </p>
                    <p><b>Events Team</b>&nbsp;&nbsp;-&nbsp; Assisting At Adoption Drives And Fundraising Events</p>
                    <p><b>Transport</b>&nbsp;&nbsp;-&nbsp; Helping Move Animals Between Locations</p>
                    <p><b>Admin Support</b>&nbsp;&nbsp;-&nbsp; Data entry, Phone calls, And Other Office Tasks</p>
                </div>
                <div>
                    <h2>Volunteer Application</h2>
                    <form action="" method="post">
                            <label for="name">
                                Full Name
                            </label>
                            <br>
                            <input type="text" id="name" name="name" placeholder="Enter Your Name"><br>
                            <label for="email">
                                Email
                            </label>
                            <br>
                            <input type="email" id="email" name="email" placeholder="Enter Your Email"><br>
                            <label for="phone">
                                Phone Number
                            </label>
                            <br>
                            <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number"><br>
                            <label for="skills">
                                Skills/Experience
                            </label>
                            <br>
                            <input type="text" id="skills" name="skills" placeholder="Describe Your Skills/Any Past Experience"><br>
                            <label for="whyVolunteer">
                                Why Volunteer
                            </label>
                            <br>
                            <input type="text" id="whyVolunteer" name="whyVolunteer" placeholder="Tell us what excites you about joining our team..."><br>
                            <button type="submit">Submit Application</button>
                             
                    </form>
                </div>
            </div>
        </section>






    </main>
</body>

</html>