body {
    margin: 0px;
    padding: 0px;
    transition: margin-right 0.3s;
    overflow-x: hidden;
    background-color: #FFF8F0;
}

header {
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0rem;
    background-color: #FFF6F0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 5rem;
    width: 5rem;
}

#logo-text a {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 1rem; */
}

#logo-text,
#menu-donate {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#oname {
    font-size: 3rem;
    color: #C75B7A;
    font-family: Verdana, sans-serif;
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

#donate {
    font-size: 2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    color: white;
    background-color: #FF914D;
    border-radius: 0.4rem;
    transition: 500ms;
}

#donate:hover {
    background-color: #FF7A29;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: #6B4E3D;
    color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
    transition: 500ms;
}

.menu-button:hover {
    background-color: #C75B7A;
}

.menu {
    height: 100%;
    width: 30rem;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: #FFF6F0 !important;
    overflow-y: auto;
    transition: right 0.3s;
    padding-top: 60px;
    color: black;
    display: flex;
    flex-direction: column;
}

.menu ul {
    list-style: none;
    padding: 0px;
}

.menu ul li {
    margin: 2.5rem 1rem;
}

.menu ul li a {
    color: #7B4F2C;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

.menu ul li a:hover {
    color: #F28B82;
}

#menu-heading {
    margin-left: 1rem;
    font-family: Verdana, sans-serif;
}

#close-button {
    display: flex;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    margin-right: 2rem;
}

.menu-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 2px;
    width: 31rem;
}

.menuItemList div {
    font-size: 1.5rem;
    color: #7B4F2C;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.menuItemList div:hover {
    color: #F28B82;
}

.menuItemList div span {
    font-size: 1.5rem;
    font-weight: bold;
}

.menuItemList.active .submenu {
    display: block;
    margin-left: 4rem;
}

.symbol {
    display: inline-block;
    transition: 300ms ease;
}

.menuItemList.active .symbol {
    transform: rotate(180deg);
}

.submenu {
    display: none;
}

.contactUs {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.contactUsContainer {
    width: 100%;
    max-width: 70rem;
    min-height: 20rem;
    background-color: #FFD9C0;
    border: 0.2rem solid orange;
    margin-top: 8rem;
}

#containerH {
    width: 100%;
    height: 2rem;
    background-color: orange;
    margin-top: 0;
}

#containerH h1 {
    color: white;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
}

.contactUsContainer div h2 {
    color: orangered;
    margin-left: 2rem;
    margin-top: 2rem;
}

.contactUsContainer div p {
    font-size: 1.5rem;
    color: darkorange;
    margin-left: 2rem;
}

#teamContacts div h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 20rem;
    color: #FF7A29;
}

#teamContacts {
    display: flex;
    flex-direction: column;

}

#teamContactsAndVolunteer {
    display: flex;
    flex-direction: row;
}


.footer {
    width: 100%;
    height: 30rem;
    background-color: #5C4033;
    margin-top: 20rem;
    display: flex;
    flex-direction: row;
}

.fcName {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.qlinkandTerm {
    display: flex;
    flex-direction: row;
}

#fLogo {
    height: 8rem;
    width: 8rem;
}

#fName {
    font-size: 4rem;
    color: white;
    font-family: Verdana, sans-serif;
}

.fQuickLinks {
    color: white;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: 10rem;
}

.fQuickLinks ul {
    list-style: none;
    padding: 0;
}

.fQuickLinks ul li a {
    color: white;
}

.fQuickLinks ul li {
    margin-top: 1.5rem;
}

.fTerms div:nth-of-type(1) {
    color: white;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: 5rem;
}

.fTerms ul {
    list-style: none;
    padding: 0;
}

.fTerms ul li a {
    color: white;
}

.fTerms ul li {
    margin-top: 1.5rem;
}

.fTerms div:nth-of-type(2) {
    color: white;
    width: 20rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fTerms div:nth-of-type(2) a {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

@media(max-width:768px) {
    #logo {
        height: 4rem;
        width: 4rem;
    }

    #oname {
        font-size: 2rem;
    }

    .menu-button {
        margin-right: 1.5rem;
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    .menu {
        width: 20rem;
    }

    .menu-up {
        width: 20rem;
    }

    #donate {
        display: none;
    }

    .contactUsContainer div h2 {
        color: orangered;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .contactUsContainer div p {
        font-size: 1rem;
        color: darkorange;
        margin-left: 2rem;
    }

    #teamContacts div h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        color: #FF7A29;
    }
    #teamContactsAndVolunteer {
    display: flex;
    flex-direction: column;
}




    .footer {
        width: 100%;
        height: 20rem;
        background-color: #5C4033;
        margin-top: 20rem;
        display: flex;
        flex-direction: column;
    }

    .fcName {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0.5rem;
    }

    .qlinkandTerm {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #fLogo {
        height: 4rem;
        width: 4rem;
    }

    #fName {
        margin-left: 0.5rem;
        font-size: 2rem;
        color: white;
        font-family: Verdana, sans-serif;
    }

    .fQuickLinks {
        color: white;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;
        margin-left: 1rem;
        font-size: 0.5rem;
    }

    .fQuickLinks ul {
        list-style: none;
        padding: 0;
    }

    .fQuickLinks ul li a {
        color: white;
    }

    .fQuickLinks ul li {
        margin-top: 0.5rem;
    }

    .fTerms div:nth-of-type(1) {
        color: white;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.5rem;
        margin-top: 0.5rem;
        margin-left: 5rem;
    }

    .fTerms ul {
        list-style: none;
        padding: 0;
    }

    .fTerms ul li a {
        color: white;
    }

    .fTerms ul li {
        margin-top: 0.5rem;
    }

    .fTerms div:nth-of-type(2) {
        color: white;
        width: auto;
        margin-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .fTerms div:nth-of-type(2) a {
        color: white;
        font-size: 1rem;
        margin-left: 1rem;
    }
}